.tabs-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
}
.tabs-header-item {
    padding: 10px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #911016;
    cursor: pointer;
}
.tabs-header-item.active {
    color: #fff;
    background: #911016;
}
.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 115px 0;
}
.card-item {
    width: 100%;
}
.card-link {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.card-title {
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #364670;
}
.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
    height: 70px;
    margin: 17px 0;
}
.search-input-wrapper {
    position: relative;
    flex: 1;
    border-radius: 14px;
    height: 100%;
    font-size: 18px;
    color: #364670;
    letter-spacing: 0.01em;
    font-weight: 700;
}
.search-input {
    background: #fff;
    border: 1px solid #a68144;
    border-radius: 14px;
    padding: 24px 74px 24px 20px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #364670;
    letter-spacing: 0.01em;
    font-weight: 700;
}
.search-input::placeholder {
    font-weight: 500;
    color: #92929d;
}
.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
}
.search-results li {
    padding: 11px 16px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #364670;
    cursor: pointer;
}
.search-results li:hover {
    background: #f1f1f5;
}
.search-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 61px;
    background: #911016;
    border-radius: 14px;
    min-width: 188px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    height: 100%;
    transition: opacity 0.3s ease;
}
.search-box button:hover {
    opacity: 0.9;
}
.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    column-gap: 16px;
    row-gap: 16px;
    flex-wrap: wrap;
}
.tags-item {
    height: 36px;
    padding: 5px 12px;
    background: #faf8f6;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #364670;
}
.no-results {
    width: 75vw;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: #364670;
}
