.login {
    position: relative;
    border-radius: 16px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    background: #ffffff;
    min-width: 188px;
}
.login select {
    display: none;
}
.login:not(:has(>.select-items.select-hide)) {
    border-radius: 16px 16px 0 0;
}
.select-selected {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    position: relative;
    padding: 12px 16px;
    border-radius: 16px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #364670;
}
.select-items div,.select-selected {
    cursor: pointer;
    user-select: none;
}
.select-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 16px 16px;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
}
.select-items div {
    padding: 12px 16px;
}

.select-items:not(.select-hide) + .select-selected {
    border-radius: 16px 16px 0 0;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: #911016;
    color: #ffffff;
}
.select-item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.select-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #A68144;
}
.select-item-image img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
